---
layout: default
---

{{ content }}

<h2>{{ page.list_title | default: page.title }}</h2>
{%- assign visible_pages = site.pages | where_exp: "page", "page.hide != true" -%}
  {%- if site.page_index.hide_main == true -%}
    {%- assign indexed_pages = visible_pages | where_exp: "page", "page.categories != 'main'" -%}
  {%- else -%}
    {%- assign indexed_pages = visible_pages -%}
  {%- endif -%}
{%- for page in visible_pages -%}
  <h3>
    <li>
      <a href="{{ page.url }}">{{ page.title | default: page.name }}</a>
    </li>
  </h3>
{%- endfor -%}