---
layout: default
---

{{ content }}

{%- assign page_category = page.name | split: "." | first -%}
<h2>{{ page_category | capitalize }}</h2>
<div>
  <ul>
    {%- assign visible_posts = site.posts | where_exp: "page", "page.hide != true" -%}
    {%- for post in visible_posts -%}
      {%- if post.categories contains page_category -%}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>